moviepy==1.0.1
Flask==1.1.2
eventlet==0.29.1
tf_nightly_gpu==2.5.0.dev20201101
numpy==1.19.4
h5py==2.10.0
matplotlib==3.3.2
gevent_socketio==0.3.6
Pillow==8.0.1
scikit_learn==0.23.2
tensorflow==2.3.1
